name: AmazonBot

on:
  workflow_dispatch:   # avvio manuale
  schedule:
    # 9:00 italiane (8:00 UTC)
    - cron: "0 8 * * *"
    # 21:00 italiane (20:00 UTC)
    - cron: "0 20 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: read    # necessario per checkout@v4

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          DEBUG: "0"
        run: python bot.py
